Repository Brendhon/bytebank-pro: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,html,css,scss}": ["prettier --write"]
}

feat: implement Home component with login and registration functionality, including form handling and layout structure
  apps/shell/src/app/core/types/form.ts
  apps/shell/src/app/layout/footer/footer.component.html
  apps/shell/src/app/layout/footer/footer.component.spec.ts
  apps/shell/src/app/layout/header/components/menu-popover/menu-popover.component.spec.ts
  apps/shell/src/app/pages/home/home.component.css
  apps/shell/src/app/pages/home/home.component.html
  apps/shell/src/app/pages/home/home.component.spec.ts
  apps/shell/src/app/pages/home/home.component.ts
Due: prettier --write, eslint --fix

feat: add size attribute to bb-logo component in header and footer for consistent styling
  apps/shell/src/app/layout/footer/footer.component.html
  apps/shell/src/app/layout/header/header.component.html
Due: prettier --write

fix: update document title to 'Bytebank Pro' for consistency
  apps/shell/public/favicon.ico
  apps/shell/src/index.html
Due: prettier --write

refactor(button): update button styles and class names
  packages/ui/documentation.json
  packages/ui/src/ui/button/button.component.spec.ts
  packages/ui/src/ui/button/button.component.ts
  packages/ui/styles/global.css
Due: prettier --write, eslint --fix

feat: Implemented NotFoundComponent with a user-friendly 404 error page layout.
  apps/shell/src/app/components/footer/footer.component.css
  apps/shell/src/app/components/footer/footer.component.html
  apps/shell/src/app/components/footer/footer.component.spec.ts
  apps/shell/src/app/components/footer/footer.component.ts
  apps/shell/src/app/components/header/components/authenticated-user-header/authenticated-user-header.component.css
  apps/shell/src/app/components/header/components/authenticated-user-header/authenticated-user-header.component.html
  apps/shell/src/app/components/header/components/authenticated-user-header/authenticated-user-header.component.spec.ts
  apps/shell/src/app/components/header/components/authenticated-user-header/authenticated-user-header.component.ts
  apps/shell/src/app/components/header/components/guest-actions/guest-actions.component.css
  apps/shell/src/app/components/header/components/guest-actions/guest-actions.component.html
  apps/shell/src/app/components/header/components/guest-actions/guest-actions.component.spec.ts
  apps/shell/src/app/components/header/components/guest-actions/guest-actions.component.ts
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.css
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.html
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.spec.ts
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.ts
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.css
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.html
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.spec.ts
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.ts
  apps/shell/src/app/components/header/header.component.css
  apps/shell/src/app/components/header/header.component.html
  apps/shell/src/app/components/header/header.component.spec.ts
  apps/shell/src/app/components/header/header.component.ts
  apps/shell/src/app/guest-layout/guest-layout.component.css
  apps/shell/src/app/guest-layout/guest-layout.component.html
  apps/shell/src/app/guest-layout/guest-layout.component.spec.ts
  apps/shell/src/app/guest-layout/guest-layout.component.ts
  apps/shell/src/app/layout/layout.component.ts
  apps/shell/src/app/layout/sidebar/sidebar.component.html
  apps/shell/src/app/layout/sidebar/sidebar.component.ts
  apps/shell/src/app/pages/home/home.component.html
  apps/shell/src/app/pages/not-found/not-found.component.css
  apps/shell/src/app/pages/not-found/not-found.component.html
  apps/shell/src/app/pages/not-found/not-found.component.spec.ts
  apps/shell/src/app/pages/not-found/not-found.component.ts
Due: prettier --write, eslint --fix

feat(home): enhance home component with benefits section and illustrations
  apps/dashboard/src/app/components/card/card.component.html
  apps/shell/src/app/pages/home/home.component.html
  apps/shell/src/app/pages/home/home.component.ts
  packages/ui/src/table/generic-table/generic-table.component.html
Due: prettier --write, eslint --fix

fix: remove padding from main content area in guest layout for consistency
  apps/shell/src/app/guest-layout/guest-layout.component.html
  apps/shell/src/app/layout/layout.component.html
  apps/shell/src/styles.css
Due: prettier --write

refactor(input): update icon colors and adjust spacing
  packages/ui/documentation.json
  packages/ui/src/form/input/input.component.html
  packages/ui/src/form/input/input.component.ts
Due: prettier --write, eslint --fix

feat(login): implement login form component with validation and modal integration
  .github/instructions/component_guidelines.instructions.md
  apps/shell/src/app/components/login-form/login-form.component.css
  apps/shell/src/app/components/login-form/login-form.component.html
  apps/shell/src/app/components/login-form/login-form.component.spec.ts
  apps/shell/src/app/components/login-form/login-form.component.ts
  apps/shell/src/app/guest-layout/guest-layout.component.html
  apps/shell/src/app/guest-layout/guest-layout.component.ts
  apps/shell/src/app/pages/home/home.component.spec.ts
  apps/shell/src/styles.css
  packages/ui/src/ui/dialog/dialog.component.css
Due: prettier --write, eslint --fix

feat(register): add register form component with validation and integration into guest layout
  apps/shell/src/app/components/register-form/register-form.component.css
  apps/shell/src/app/components/register-form/register-form.component.html
  apps/shell/src/app/components/register-form/register-form.component.spec.ts
  apps/shell/src/app/components/register-form/register-form.component.ts
  apps/shell/src/app/guest-layout/guest-layout.component.html
  apps/shell/src/app/guest-layout/guest-layout.component.ts
  apps/shell/src/styles.css
  packages/ui/documentation.json
  packages/ui/src/ui/dialog/dialog.component.css
Due: prettier --write, eslint --fix

refactor(img): enhance image component with computed properties
  apps/shell/src/app/components/login-form/login-form.component.css
  apps/shell/src/app/components/login-form/login-form.component.html
  apps/shell/src/app/components/register-form/register-form.component.html
  packages/ui/documentation.json
  packages/ui/src/ui/dialog/dialog.component.css
  packages/ui/src/ui/dialog/dialog.component.spec.ts
  packages/ui/src/ui/dialog/dialog.component.ts
  packages/ui/src/ui/img/img.component.html
  packages/ui/src/ui/img/img.component.spec.ts
  packages/ui/src/ui/img/img.component.ts
Due: prettier --write, eslint --fix

refactor(img): update image component styles and enable OnPush change detection for improved performance
  apps/shell/src/app/components/login-form/login-form.component.html
  apps/shell/src/app/components/register-form/register-form.component.html
  packages/ui/src/ui/img/img.component.ts
Due: prettier --write, eslint --fix

Implement code changes to enhance functionality and improve performance
  apps/shell/src/app/components/register-form/register-form.component.html
  apps/shell/src/app/components/register-form/register-form.component.ts
  packages/ui/documentation.json
Due: prettier --write, eslint --fix

docs: update README to clarify usage of Angular Reactive Forms and Angular Signals
  apps/settings/README.md
  apps/transactions/README.md
Due: prettier --write

refactor(register): update form error handling and validation logic for improved clarity and maintainability
  apps/shell/src/app/components/register-form/register-form.component.html
  apps/shell/src/app/components/register-form/register-form.component.ts
Due: prettier --write, eslint --fix

feat(auth): implement authentication service with GraphQL integration and user management
  .github/instructions/service_guidelines.instructions.md
  apps/shell/package.json
  apps/shell/src/app/app.config.ts
  apps/shell/src/app/app.routes.ts
  apps/shell/src/app/components/register-form/register-form.component.ts
  apps/shell/src/app/core/graphql/auth.queries.ts
  apps/shell/src/app/core/guards/auth.guard.spec.ts
  apps/shell/src/app/core/guards/auth.guard.ts
  apps/shell/src/app/core/guards/index.ts
  apps/shell/src/app/core/interceptors/auth.interceptor.spec.ts
  apps/shell/src/app/core/interceptors/auth.interceptor.ts
  apps/shell/src/app/core/models/auth.model.ts
  apps/shell/src/app/core/models/user.model.ts
  apps/shell/src/app/core/services/auth.service.spec.ts
  apps/shell/src/app/core/services/auth.service.ts
  apps/shell/src/app/core/services/index.ts
  package-lock.json
Due: prettier --write, eslint --fix

feat(auth): enhance authentication service with improved error handling and user feedback in login and registration processes
  apps/shell/src/app/core/services/auth.service.ts
  apps/shell/src/app/guest-layout/guest-layout.component.ts
  apps/shell/src/app/layout/layout.component.ts
Due: prettier --write, eslint --fix

refactor(layout): streamline initialization of pathname and user name observables
  apps/shell/src/app/layout/layout.component.html
  apps/shell/src/app/layout/layout.component.ts
Due: prettier --write, eslint --fix

refactor(toast): update icon size and button styles for improved UI consistency
  apps/shell/src/app/core/services/toast.service.spec.ts
  apps/shell/src/app/core/services/toast.service.ts
  apps/shell/src/app/guest-layout/guest-layout.component.ts
  docs/toast_usage.md
  packages/ui/src/ui/toast/toast.component.html
Due: prettier --write, eslint --fix

refactor(toast): improve documentation and formatting in Toast component
  packages/ui/src/ui/toast/toast.component.ts
Due: prettier --write, eslint --fix

docs: update README files across packages for clarity and consistency
  README.md
  apps/dashboard/README.md
  apps/settings/README.md
  apps/shell/README.md
  apps/transactions/README.md
  packages/eslint-config/README.md
  packages/shared-assets/README.md
  packages/shared-design-tokens/README.md
  packages/types/README.md
  packages/typescript-config/README.md
  packages/ui/README.md
  packages/utils/README.md
Due: prettier --write

docs: remove Docker section from README files for all microfrontends
  apps/dashboard/README.md
  apps/settings/README.md
  apps/shell/README.md
  apps/transactions/README.md
Due: prettier --write

Update guidelines for service creation, Storybook patterns, and testing practices
  .github/instructions/component_guidelines.instructions.md
  .github/instructions/directive_guidelines.instructions.md
  .github/instructions/guard_guidelines.instructions.md
  .github/instructions/interceptor_guidelines.instructions.md
  .github/instructions/pipe_guidelines.instructions.md
  .github/instructions/resolver_guidelines.instructions.md
  .github/instructions/service_guidelines.instructions.md
  .github/instructions/storybook_guidelines.instructions.md
  .github/instructions/testing_guidelines.instructions.md
Due: prettier --write

Refactor directive and testing guidelines for clarity and conciseness
  .github/instructions/component_guidelines.instructions.md
  .github/instructions/directive_guidelines.instructions.md
  .github/instructions/testing_guidelines.instructions.md
Due: prettier --write

refactor: simplify LogoComponent by removing loading logic and using ImgComponent for rendering
  apps/shell/src/app/components/header/header.component.html
  apps/shell/src/app/components/header/header.component.ts
  packages/shared-assets/assets/logos/logo.svg
  packages/ui/documentation.json
  packages/ui/src/ui/img/img.component.ts
  packages/ui/src/ui/logo/logo.component.html
  packages/ui/src/ui/logo/logo.component.spec.ts
  packages/ui/src/ui/logo/logo.component.stories.ts
  packages/ui/src/ui/logo/logo.component.ts
Due: prettier --write, eslint --fix

refactor: update logo size in footer and header components, enhance user actions icon, and improve responsive display logic
  apps/shell/src/app/components/footer/footer.component.html
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.ts
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.html
  apps/shell/src/app/components/header/header.component.html
  apps/shell/src/app/components/header/header.component.ts
  package-lock.json
  packages/shared-assets/assets/logos/icon.svg
  packages/types/src/index.ts
  packages/types/src/utils.ts
  packages/ui/package.json
  packages/ui/src/ui/img/img.component.ts
  packages/ui/src/ui/logo/logo.component.ts
Due: prettier --write, eslint --fix

refactor: enhance menu popover functionality with signal-based state management and improve icon styling
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.html
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.ts
  apps/shell/src/app/components/nav-menu/nav-menu.component.ts
Due: prettier --write, eslint --fix

feat: add comprehensive best practices guides for Angular components, directives, guards, interceptors, pipes, resolvers, services, Storybook patterns, and testing for cursor
  .cursor/rules/component-guidelines.mdc
  .cursor/rules/directive-guidelines.mdc
  .cursor/rules/guard-guidelines.mdc
  .cursor/rules/interceptor-guidelines.mdc
  .cursor/rules/pipe-guidelines.mdc
  .cursor/rules/resolver-guidelines.mdc
  .cursor/rules/service-guidelines.mdc
  .cursor/rules/storybook-guidelines.mdc
  .cursor/rules/testing-guidelines.mdc
Due: none

refactor: streamline header and nav menu components by optimizing imports and enhancing computed properties for better performance
  apps/shell/src/app/components/header/components/menu-popover/menu-popover.component.ts
  apps/shell/src/app/components/header/header.component.ts
  apps/shell/src/app/components/nav-menu/nav-menu.component.html
  apps/shell/src/app/components/nav-menu/nav-menu.component.ts
  apps/shell/src/app/core/utils/nav.ts
  apps/shell/src/app/layout/layout.component.ts
  packages/ui/src/ui/popover/popover.component.ts
Due: prettier --write, eslint --fix

refactor: remove unnecessary width and min-height styles from app components for cleaner layout
  apps/dashboard/src/app/app.css
  apps/dashboard/src/app/app.html
  apps/settings/src/app/app.css
  apps/settings/src/app/app.html
  apps/transactions/src/app/app.css
  apps/transactions/src/app/app.html
Due: prettier --write

refactor: consolidate layout structure by simplifying header and nav menu components for improved readability
  apps/shell/src/app/layout/layout.component.html
Due: prettier --write

refactor: streamline layout component by consolidating header and sidebar structure for improved readability and consistency
  apps/shell/src/app/layout/layout.component.html
Due: prettier --write

feat: implement authentication redirection in HomeComponent on initialization
  apps/shell/src/app/pages/home/home.component.ts
Due: prettier --write, eslint --fix

feat: enhance user actions component with public link navigation and popover state management
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.html
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.spec.ts
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.ts
  apps/shell/src/environments/environment.development.ts
  apps/shell/src/environments/environment.ts
  packages/types/src/environment.ts
Due: prettier --write, eslint --fix

refactor: update guidelines to remove quotes from globs and add description for component guidelines
  .cursor/rules/component-guidelines.mdc
  .cursor/rules/directive-guidelines.mdc
  .cursor/rules/guard-guidelines.mdc
  .cursor/rules/interceptor-guidelines.mdc
  .cursor/rules/pipe-guidelines.mdc
  .cursor/rules/resolver-guidelines.mdc
  .cursor/rules/service-guidelines.mdc
  .cursor/rules/storybook-guidelines.mdc
  .cursor/rules/testing-guidelines.mdc
Due: none

test: enhance LayoutComponent tests with improved dependency injection, observable initialization, and navigation handling
  apps/shell/src/app/layout/layout.component.spec.ts
Due: prettier --write, eslint --fix

test: expand RegisterFormComponent tests to cover initial state, validation, and submission logic
  apps/shell/src/app/components/register-form/register-form.component.spec.ts
Due: prettier --write, eslint --fix

test: enhance UserActionsComponent tests with popover state management, public link retrieval, and external navigation handling
  apps/shell/src/app/components/header/components/user-actions/user-actions.component.spec.ts
Due: prettier --write, eslint --fix

test: enhance NavMenuComponent tests with additional input handling, active state management, and accessibility checks
  apps/shell/src/app/components/nav-menu/nav-menu.component.spec.ts
Due: prettier --write, eslint --fix

test: enhance AuthenticatedUserHeaderComponent tests with UserActionsComponent integration and input handling
  apps/shell/src/app/components/header/components/authenticated-user-header/authenticated-user-header.component.spec.ts
Due: prettier --write, eslint --fix
